.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 3rem;
    height: 3rem;
    color: black;
    margin: 10px;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.slide {
    border-radius: 0.5rem;
    width: 100%;
}

.slide-hidden {
    display: none;
}
